
<link rel="stylesheet" href="/assets/css/header.css">
<header class="page-header" role="banner">

  <h1 class="project-name">
    {{ page.title | default: site.title | default: site.github.repository_name }}
  </h1>
  <h2 class="project-tagline">
    {%if page.cc-type == "cr" %}
      This article has been reserveds full copyright, secondary creation and redistribution are prohibited, see end of page for details.
    {% else %}
      {{ page.description | default: site.description | default:
      site.github.project_tagline }}
    {% endif %}
  </h2>
</header>

<div id="header-PH"></div>
<!-- Header's placeholder -->
<!--
<script src="/assets/js/header.js"></script>
-->
